<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>126</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>648</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.25</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>324</real>
			<real>0.0</real>
			<real>-0.25</real>
			<real>0.0</real>
			<real>63</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	HSrMBdou7+XpI2VC7PdqHg==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFx5VJG51bGzTDQ4PEBES
	XE5TUmFuZ2VDb3VudFYkY2xhc3NbTlNSYW5nZURhdGEQD4AEgALSFA4VFldOUy5kYXRh
	TxAtxwEB+AEBkAIB8AIBrAMB1gQB6gUB5AcB7ggC3AkBhgoB8woBzg0B3xAB/BABgAPS
	GBkaG1okY2xhc3NuYW1lWCRjbGFzc2VzXU5TTXV0YWJsZURhdGGjGhwdVk5TRGF0YVhO
	U09iamVjdNIYGR8gXxARTlNNdXRhYmxlSW5kZXhTZXSjISIdXxARTlNNdXRhYmxlSW5k
	ZXhTZXRaTlNJbmRleFNldAAIABEAGgAkACkAMgA3AEkATABRAFMAWQBfAGYAcwB6AIYA
	iACKAIwAkQCZAMkAywDQANsA5ADyAPYA/QEGAQsBHwEjATcAAAAAAAACAQAAAAAAAAAj
	AAAAAAAAAAAAAAAAAAABQg==
	</data>
</dict>
</plist>
