<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export</key>
	<array>
		<dict>
			<key>date</key>
			<string>Monday, April 11, 2022 at 18:13:33 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-11T10:13:33Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-11 10:03:22 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday, April 11, 2022 at 19:43:23 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-11T11:43:23Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding V2 BGM.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-11 11:29:58 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday, April 11, 2022 at 19:55:29 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-11T11:55:29Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding V2 NBGM.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-11 11:31:14 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday, April 11, 2022 at 21:07:08 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-11T13:07:08Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding V3 NBGM.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-11 12:55:39 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Monday, April 11, 2022 at 21:17:04 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-11T13:17:04Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding V3 BGM.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-11 12:57:18 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday, April 12, 2022 at 10:37:29 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-12T02:37:29Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding V4.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-12 02:30:15 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Tuesday, April 12, 2022 at 11:18:44 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-04-12T03:18:44Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/stOOrz/IMMC_2022_Greater_China_Oral_Defense/Videos/Aircraft Boarding V4.mp4</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-04-12 03:11:57 +0000</string>
		</dict>
		<dict>
			<key>date</key>
			<string>Thursday, May 19, 2022 at 14:35:45 China Standard Time</string>
			<key>fullDate</key>
			<date>2022-05-19T06:35:45Z</date>
			<key>resultStr</key>
			<array>
				<string>/Users/easonshao/Documents/开发/IM2C_2022_2022039/Aircraft Boarding.m4v</string>
			</array>
			<key>sourceFP</key>
			<string>bdhCnZUcQ/+eXsbx3mbg6Q - 2022-05-19 06:24:04 +0000</string>
		</dict>
	</array>
</dict>
</plist>
