<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>数学建模</string>
	<key>libraryID</key>
	<string>167C5D4C-A7DF-4924-A6F1-CF76F8ED6F6A</string>
</dict>
</plist>
