<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>180</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>468</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.25</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>234</real>
			<real>0.0</real>
			<real>-0.25</real>
			<real>0.0</real>
			<real>90</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	7BwPYZjtBYtMxtHK9o31+A==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwTFx5VJG51bGzTDQ4PEBES
	XE5TUmFuZ2VDb3VudFYkY2xhc3NbTlNSYW5nZURhdGEQBoAEgALSFA4VFldOUy5kYXRh
	TxARZQGvAgH6AwHEBQGPBwHaCAGAA9IYGRobWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNN
	dXRhYmxlRGF0YaMaHB1WTlNEYXRhWE5TT2JqZWN00hgZHyBfEBFOU011dGFibGVJbmRl
	eFNldKMhIh1fEBFOU011dGFibGVJbmRleFNldFpOU0luZGV4U2V0AAgAEQAaACQAKQAy
	ADcASQBMAFEAUwBZAF8AZgBzAHoAhgCIAIoAjACRAJkArQCvALQAvwDIANYA2gDhAOoA
	7wEDAQcBGwAAAAAAAAIBAAAAAAAAACMAAAAAAAAAAAAAAAAAAAEm
	</data>
</dict>
</plist>
